@import "vars.scss";

.containerGame {
  background-color: $red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 25px;

  .recepPiece {
    width: 100px;
    height: 100px;
    background-color: #650000;
    text-align: center;
    position: relative;

    &.preview {
      background-color: $green;
    }

    .bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      pointer-events: none;
    }

    .crack.active {
      background-image: url("/images/crack.png");
      z-index: 1;
    }
    .wheat.active {
      background-image: url("/images/wheat.webp");

      & + .piece {
        animation: colorRotate 3s linear infinite;
      }
    }
  }
}

// animation
@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}