@import "vars.scss";

.containerPieces{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 430px;
    align-content: center;
    grid-gap: 10px;   
    padding: 10px;
    border: 1px solid white;
}

.piece{
    text-align: center;
    width: 100px;
    height: 100px;

    img{
        width: 100%;
    }
}