@import "vars.scss";

.containerRules {
  width: 300px;

  .rule {
    margin-bottom: 30px;

    &.wrong {
      .title {
        background-color: $red;
      }
      .content {
        background-color: $red50;
      }
    }

    &:nth-child(2n) {
      .title {
        background-color: $red;
      }
      .content {
        background-color: $red50;
      }
    }

    .title {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 10px;
      background-color: $green;
      padding: 5px;
      margin: 0;
    }

    .content {
      font-size: 15px;
      padding: 5px;
      margin: 0;
      background-color: $green50;
    }
  }
}
