@import "vars.scss";

.containerRules {
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  .rule {
    margin-bottom: 30px;
    display: none;

    &.active {
      display: block;
    }

    &.valid {
      .title {
        background-color: $green;
      }
      .content {
        background-color: $green50;
      }
    }

    .title {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 10px;
      background-color: $red;
      padding: 5px;
      margin: 0;
    }

    .content {
      font-size: 15px;
      padding: 5px;
      margin: 0;
      background-color: $red50;
    }
  }
}
