

// create color var for each color

$blue: #51B4B9;
$orange: #EB9A40;
$red: #e60000;
$red50: #e6000070;
$green: #00cc00;
$green50: #00cc0070;

@font-face {
    font-family: Baikal-VF;
    src: url("/fonts/Baikal-VF.ttf") format("truetype");
}